[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic-settings = "*"
geocoder = "*"
user-agents = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
pythondi = "*"

[dev-packages]

[requires]
python_version = "3.12"
